/* Estilo general */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Mapa a pantalla completa */
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Contenedor del buscador */
#searchBoxContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
#output {
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 320px;
    font-size: 14px;
    display: none; /* Oculto por defecto */
}

/* Buscador */
.custom-search-box {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007BFF;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
}

.custom-search-box:focus {
    border-color: #0056b3;
    box-shadow: 0px 4px 8px rgba(0, 91, 187, 0.4);
}

/* Controles para el vehículo y botón */
#controls {
    display: none;
    position: absolute;
    top: 80px; /* Justo debajo del buscador */
    left: 10px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 150px; /* Ajustado para que coincida con el buscador */
}

#controls label,
#controls select,
#controls button {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    width: 100%; /* Hacer que los elementos ocupen todo el ancho del contenedor */
}
