/* Estilo general */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
    display: flex;
    flex-direction: column;
    
}

/* Mapa a pantalla completa */
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Contenedor del buscador */
#searchBoxContainer {
    position: absolute;
    top: 1%; /* Esto lo coloca en el 10% desde la parte superior de la pantalla */
    left: 50%; /* Esto lo coloca en el centro horizontal */
    transform: translateX(-50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
#output {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 320px;
    font-size: 14px;

    display: none; /* Oculto por defecto */
}



/* Buscador */
.custom-search-box {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007BFF;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
}

.custom-search-box:focus {
    border-color: #0056b3;
    box-shadow: 0px 4px 8px rgba(0, 91, 187, 0.4);
}

#vehicleIcons {
    position: absolute;
    top: 50px; /* Ajusta la posición según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; 
    z-index: 2;
    margin-top: 20px;
}

.vehicle-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
}

.vehicle-icon:hover {
    border: 2px solid #007bff;
}
.vehicle-btn {
    background-color: #fff; /* Fondo blanco */
    border: 2px solid #ccc; /* Borde gris */
    border-radius: 50%; /* Forma circular */
    padding: 5px; /* Espaciado interno */
    cursor: pointer; /* Cursor tipo botón */
    transition: all 0.3s ease; /* Animación de hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
}
.vehicle-btn img {
    width: 30px; /* Ancho de la imagen */
    height: 30px; /* Alto de la imagen */
    pointer-events: none; /* Evita interferir con el clic */
}

/* Efecto hover */
.vehicle-btn:hover {
    background-color: #f0f0f0; /* Cambio de color al pasar el cursor */
    border-color: #007bff; /* Color del borde en hover */
    transform: scale(1.1); /* Escala ligeramente al pasar el cursor */
}

.vehicle-btn.selected {
    background-color: #007bff; /* Fondo azul para el seleccionado */
    color: #fff; /* Texto blanco */
    border-color: #0056b3; /* Borde azul oscuro */
}

#controls label,
#controls select,
#controls button {
    display: block;
    margin: 10px 0;
    width: 100%; /* Hacer que los elementos ocupen todo el ancho del contenedor */
}

/* Contenedor principal de sugerencias */
.pac-container {
    background-color: #fff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1000; /* Asegurarte de que aparezca sobre otros elementos */
}

/* Elemento individual de la sugerencia */
.pac-item {
    font-family: 'Arial', sans-serif; /* Fuente personalizada */
    font-size: 14px;
    padding: 10px 15px;
    border-bottom: 1px solid #eee; /* Línea divisoria */
    cursor: pointer;
}

.pac-item:hover {
    background-color: #f7f7f7; /* Fondo al pasar el mouse */
}

/* Personalizar el texto destacado de las sugerencias */
.pac-item .pac-item-query {
    color: #007BFF; /* Texto destacado en azul */
    font-weight: bold;
}

/*contenedores de los botones de control de mapa y satelite*/
.map-control-button,
.satellite-control-button {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.map-control-button:hover,
.satellite-control-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* Contenedor de los botones, alineados a la izquierda */
#map .gm-style-cc {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 5;
}

/* Los botones deben estar apilados, uno sobre otro */
.map-control-button,
.satellite-control-button {
    width: 45%;
}
.map-control-button:hover,
.satellite-control-button:hover {
    background-color: #c6e2ff;
}

.add-points-button {
    background-color: rgba(255, 255, 255, 0.7);
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 200px;  /* Ajusta el valor según sea necesario */
    right: 10px;  /* Alineado a la derecha */
    z-index: 999; /* Asegura que el botón esté encima de los controles */
    transition: background-color 0.3s ease;
}

.add-points-button:hover {
    background-color: #c6e2ff;
}

.delete-points-button {
    background-color: rgba(255, 255, 255, 0.7);
    color: white;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 250px;  /* Ajusta el valor según sea necesario */
    right: 10px;  /* Alineado a la derecha */
    z-index: 999; /* Asegura que el botón esté encima de los controles */
    transition: background-color 0.3s ease;
}

.delete-points-button img {
    width: 30px;
    height: 30px;
}
