/* Estilo general */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Mapa a pantalla completa */
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Contenedor del buscador */
#searchBoxContainer {
    position: absolute;
    top: 1%; /* Esto lo coloca en el 10% desde la parte superior de la pantalla */
    left: 50%; /* Esto lo coloca en el centro horizontal */
    transform: translateX(-50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
#output {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 320px;
    font-size: 14px;

    display: none; /* Oculto por defecto */
}

/* Buscador */
.custom-search-box {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007BFF;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
}

.custom-search-box:focus {
    border-color: #0056b3;
    box-shadow: 0px 4px 8px rgba(0, 91, 187, 0.4);
}

/* Controles para el vehículo y botón */
#controls {
    display: none;
    position: absolute;
    top: 80px; /* Justo debajo del buscador */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 90%; /* Ajustado para que coincida con el buscador */
    margin: 0 a;
    width: 300px;
}

#controls label,
#controls select,
#controls button {
    display: block;
    margin: 10px 0;
    width: 100%; /* Hacer que los elementos ocupen todo el ancho del contenedor */
}

/* Contenedor principal de sugerencias */
.pac-container {
    background-color: #fff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1000; /* Asegurarte de que aparezca sobre otros elementos */
}

/* Elemento individual de la sugerencia */
.pac-item {
    font-family: 'Arial', sans-serif; /* Fuente personalizada */
    font-size: 14px;
    padding: 10px 15px;
    border-bottom: 1px solid #eee; /* Línea divisoria */
    cursor: pointer;
}

.pac-item:hover {
    background-color: #f7f7f7; /* Fondo al pasar el mouse */
}

/* Personalizar el texto destacado de las sugerencias */
.pac-item .pac-item-query {
    color: #007BFF; /* Texto destacado en azul */
    font-weight: bold;
}

/*contenedores de los botones de control de mapa y satelite*/
.map-control-button,
.satellite-control-button {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.map-control-button:hover,
.satellite-control-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* Contenedor de los botones, alineados a la izquierda */
#map .gm-style-cc {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 5;
}

/* Los botones deben estar apilados, uno sobre otro */
.map-control-button,
.satellite-control-button {
    width: 45%;
}
